.navbar {
  margin-left: 30%;
  margin-right: 30%;
}

.card {
  padding: 1%;
  font-weight: 800;
  color: blue;
  margin: 1%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.card-container {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.next-page {
  margin-right: 20%;
  position: absolute;
  right: 0;
}

.pokename {
  color: black;
}
