.navbar {
  margin-left: 30%;
  margin-right: 30%;
}

.card {
  padding: 1%;
  font-weight: 800;
  color: blue;
  margin: 1%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.card-container {
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.next-page {
  margin-right: 20.5%;
  margin-top: 0.5%;
  margin-bottom: 1%;
  position: absolute;
  right: 0;
}

.pokefont {
  color: white;
  font-weight: 600;
}
